<p><a href="/prints">Prints</a></p>
<h1><%= @print.thing.name %></h1>

<div class="row">
	<div class="five columns">	
		<% unless @print.image.nil? -%>
		<p><a href="<%= @print.image %>" style="text-decoration:none;"><img src="<%= @print.image %>" alt="<%= @print.image_alt_text %>" style="width:100%;"></a></p>
		<% end -%>
	</div>
	<div class="seven columns">
		<p>This <%= link_to @print.thing.name, object_path(@print.thing) %> print belongs to <%= link_to "Box #{@print.box_id}", @print.box %>. The original object is in the <%= link_to @print.institution.name, @print.institution %> collection.</p>

		<p>Dimensions: <%= @print.width_in_m %> x <%= @print.height_in_m %> x <%= @print.depth_in_m %> in a scale of <%= @print.print_scale %></p>
	</div>
</div>
