<p><a href="/objects">Objects</a></p>
<h1><%= @thing.name %></h1>

<% if @thing.institution %>
  <p>From <%= link_to @thing.institution.name, @thing.institution %></p>
<% else %>
  <p>Not part of an institution.</p>
<% end %>

<p><%= @thing.description %></p>
<p><%= @thing.description_attribution_url %></p>

<p>
  <% @thing.creators.each do |creator| %>
    <span><%= creator %></span>
  <% end %>
</p>

<p><%= @thing.wikipedia_url %></p>

<p>
  <% @thing.tags.each do |tag| %>
    <span><%= tag %></span>
  <% end %>
</p>

<p><%= @thing.three_dimensions ? '3D' : '2D' %></p>
