<p><a href="/objects">Objects</a></p>
<h1><%= @thing.name %></h1>

<p>Huge picture of (original) thing</p>

<div class="row">
	<div class="six columns">
		<p class="lead">
			<%= @thing.description %> &bull;
			<a href="<%= @thing.description_attribution_url %>">Source</a>
		</p>
	<% if @thing.wikipedia_url %>
		<p><%= @thing.wikipedia_url %></p>
	<% end %>
 		<p>The original is a <%= @thing.three_dimensions ? '3D' : '2D' %> object.</p>
	</div>
	<div class="three columns">

	<% if @thing.institution %>
	  <p>From <%= link_to @thing.institution.name, @thing.institution %></p>
	<% else %>
	  <p>This object didn't come from an institution.</p>
	<% end %>
	
		<h5>Made by</h5>
		<p>
		  <% @thing.creators.each do |creator| %>
			<span><%= creator %></span>
		  <% end %>
		</p>
		
		<h5>Tags</h5>	
		<p class="tag">
		  <% @thing.tags.each do |tag| %>
			<span><%= tag %></span>
		  <% end %>
		</p>	
	
	</div>	
	<div class="three columns">
		<h5>Found in...</h5>
		<p>
			<% @boxes.each do |box| %>
			  <%= link_to box.museum.name, box %>
			<% end %>
		</p>	
	</div>
	
</div>

<h3>Prints</h3>
<table width="100%">
	<tr>
		<th>Print ID</th>
		<th>Box</th>
		<th>Created</th>
		<th>Sent To</th>
		<th>Last Boop</th>
	</tr>
	<tr>
		<td>3</td>
		<td><a href="/boxes/2">Animals</a></td>
		<td>3 weeks ago</td>
		<td>United Kingdom</td>
		<td>2 minutes ago</td>
	</tr>
	<tr>
		<td>4</td>
		<td><a href="">Big Cats</a></td>
		<td>9 days ago</td>
		<td>New Zealand</td>
		<td>2 days ago</td>
	</tr>
</table>